:root {
  // colors
  --color-background: #f5f5f5;
  --color-link: #0085ff;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #003da5;
  --color-gray: #f5f5f5;
  --color-logo: #fff;

  // sizes
  --size-container-max-width: 1066px;
}
